body {
  color: white;
  background-color: #bb94bb;
}
header {
  display: flex;
  justify-content: space-between;
}

.logout-link {
  margin-left: auto;
  width: 10%;
  height: 10%;
}
.logo{
  margin-right: auto;
 width: 8%;
}
.buttons{
  background-color: #a9d7ff;
  width: 18%;
  height: 15%;
  margin: 5%;
  border-radius: 10px;
}
.footer-txt{
  margin-bottom: 1%;
}
footer{
  display: flex;
  justify-content: space-between;
}
.admin{
  color: blue;
}
.tabl{
  border: 2px solid black;
  width: 40%;
  height: 40%;
  padding: 10px;
  
}
